.git
.gitignore
.idea
.vscode

node_modules
.next
out
build
coverage

.env*
.npmrc
.npmrc.example

Dockerfile
.dockerignore
README.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.tsbuildinfo
.DS_Store
